@model ActorSakilaReboot.Models.Actor
@{
    ViewBag.Title = "Delete actor";
}
<h2>Delete actor</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
            <p><div>               
                 Are you sure you want to delete this actor?
            </div></p>

            <p><div class="editor-field">
                ID: @Html.DisplayFor(model => model.ActorId)
                @Html.HiddenFor(model => model.ActorId)
            </div></p>

            <p><div class="editor-field">
                First name: @Html.DisplayFor(model => model.FirstName)
            </div></p>
           
            <p><div class="editor-field">
                Last Name: @Html.DisplayFor(model => model.LastName)
            </div></p>

            <p>
                <input type="submit" value="Delete" />
            </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
