@model IEnumerable<ActorSakilaReboot.Models.Actor>
@{
    ViewBag.Title = "Actors";
}
<h2>Actors</h2>
<a asp-action="Add">Add actor</a>

<table class="table">
    <tr>
        <th>Actor ID</th>
        <th>First name</th>
        <th>Last name</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ActorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ActorId">Details</a> |
                <a asp-action="Edit" asp-route-id="@item.ActorId">Edit</a> | 
                <a asp-action="Delete" asp-route-id="@item.ActorId">Delete</a>

            </td>
        </tr>
    }
</table>